@tailwind base;
@tailwind components;
@tailwind utilities;


/* main-wrapper */
.main-wrapper {
    @apply flex flex-row items-center justify-center overflow-hidden bg-cover bg-[url('/assets/gradientbg.jpg')];
}

/* hero */
.hero {
    @apply flex flex-col h-screen w-full bg-[#1d1d1f] m-12 p-4 rounded-lg shadow-lg;
}

/* landing */
.landing {
    @apply flex flex-col w-full items-center overflow-y-auto mt-4;
}

/* landing-text */
.landing-text {
    @apply text-center text-black mb-8 text-4xl leading-none font-horizon transition-all duration-300 cursor-default font-bold;
}

/* portfolio-containers */
.portfolio-containers {
    @apply flex flex-row gap-4 mx-8 mb-4;
}

/* portfolio-containers link */
.portfolio-containers a {
    @apply no-underline text-white;
}

/* portfolio-container */
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #1d1d1f;
    padding: 2rem 1rem 2rem 1rem;
    position: relative; /* Added for pseudo-element positioning */
    height: 100%;
    border-radius: 1rem;
    border: 2px solid #333;
    box-shadow:
    0px 0.1px 0.7px rgba(0, 0, 0, 0.023),
    0px 0.2px 1.5px rgba(0, 0, 0, 0.034),
    0px 0.3px 2.5px rgba(0, 0, 0, 0.042),
    0px 0.5px 3.8px rgba(0, 0, 0, 0.049),
    0px 0.8px 5.5px rgba(0, 0, 0, 0.055),
    0px 1.1px 7.8px rgba(0, 0, 0, 0.061),
    0px 1.5px 11.1px rgba(0, 0, 0, 0.068),
    0px 2.2px 16.1px rgba(0, 0, 0, 0.076),
    0px 3.4px 24.8px rgba(0, 0, 0, 0.087),
    0px 6px 44px rgba(0, 0, 0, 0.11);
    z-index: 1;
}

/* portfolio-container hover pseudo-element */
.portfolio-container::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(50,125,186,1) 28%, rgba(0,213,84,1) 49%, rgba(253,29,29,1) 83%, rgba(252,176,69,1) 100%);
    border-radius: inherit;
    z-index: -3;
    background-size: 400% 400%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* hover animation on portfolio-container */
.portfolio-container:hover::before {
    opacity: 1;
    animation: gradient 15s ease infinite;
    border: solid rgba(245, 245, 245, 0.651);
}

/* portfolio-container h1 */
.portfolio-container h1 {
    @apply text-center text-white text-lg;
}

/* portfolio-container p */
.portfolio-container p {
    @apply italic text-center text-white;
}

/* portfolio-container-img */
.portfolio-container-img {
    @apply max-w-[20%] pb-4;
}

/* Gradient animation */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Add custom styles for specific fonts if needed */
@layer base {
    .font-horizon {
        font-family: 'Horizon', sans-serif;
    }
}
